.table{
	border-collapse: collapse;
}
.head-td{ 
    height:35px; 
    border: solid 4px silver; 
    text-align:center;
}
.common-td{ 
    height:35px; 
    border: solid 1px silver; 
    text-align:left;
}
.a-td{
    display:block;
    width:100%;
}
.solid-head-td-left{
	height:35px; 
    text-align:center;
	border-right:none;
	border-bottom:solid 4px silver;
	border-left:solid 4px silver;
	border-top:solid 4px silver;
}
.solid-head-td-center{
	height:35px; 
    text-align:center;
	border-right:none;
	border-bottom:solid 4px silver;
	border-left:none;
	border-top:solid 4px silver;
}
.solid-head-td-right{
	height:35px; 
    text-align:center;
	border-right:solid 4px silver;
	border-bottom:solid 4px silver;
	border-left:none;
	border-top:solid 4px silver;
}
.solid-common-td-left{
	height:35px; 
    text-align:center;
	border-right:none;
	border-bottom:solid 1px silver;
	border-left:solid 1px silver;
	border-top:solid 1px silver;
}
.solid-common-td-center{
	height:35px; 
    text-align:center;
	border-right:none;
	border-bottom:solid 1px silver;
	border-left:none;
	border-top:solid 1px silver;
}
.solid-common-td-right{
	height:35px; 
    text-align:center;
	border-right:solid 1px silver;
	border-bottom:solid 1px silver;
	border-left:none;
	border-top:solid 1px silver;
}
