body{
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	background-color: #f5f5f5;
	margin: 0px;
}
footer{
  width: 100%;
  height: 90px;
  background-color: #454851;
  position: relative;
  border-top: 1px solid;
  margin-top: auto;
}
header{
  width: 100%;
  height: 120px;
  background-color: #87ceeb;
  position: relative;
  border-bottom: 1px solid;
  top: 0;
}
.body{
  min-height: 100vh;
  border: 1px solid;
  background-color: #eaeef1;
  margin: 0 120px 0 120px;
}
.content{
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
}
.header-flex{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 11px 15px 11px 15px;
	padding: 15px;
}
.header-logo{
  width: 20%;
  position: relative;
  padding: auto;
  margin: 5px;
}
.header-blank{
	width:15%;
}
.header-contacts{
	width:35%;
}
.header-mini-1{
	width:10%;
}
.header-mini-2{
	width:10%;
}
.header-mini-3{
	width:10%;
}
.header-icon{
	width: 49px;
	height: 49px;
}
.footer-flex{
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px 15px 10px 15px;
	padding: 10px;
}
.footer-copyright{
	width:20%;
}
.footer-blank{
	width:60%;
}
.footer-info{
	width:20%;
}
.reg-form{
	text-align: center;
	padding: 10px;
}
.reg-table{
	margin: auto;
}
.reg-table-label{
	width: 35%;
}
.reg-table-input{
	width: 65%;
}
.cabinet-container{
	margin: 50px 10px 10px 10px;
	padding: 5px;
}
.cabinet-table{
	margin-top: 50px;
}
.cabinet-table-collumn{
	box-sizing: border-box;
	padding:10px;
	margin:10px;
}
.booking-flex{
	position: relative;
	display:flex;
	flex-direction:column;
	align-items:top;
	font-family: helvetica, arial, sans-serif;
    font-size: 16px;
}
.booking-search-form{
	box-sizing:border-box;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:30px;
}
.booking-results{
	box-sizing: border-box;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:30px;
}
.booking-arrow{
	width:50px;
	height:35px;
}
.booking-tickets{
	box-sizing:border-box;
}
.list{
	display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.booking-wagons{
	margin-top: 15px;
    border-style: solid;
    border-color: #d7dce1;
    border-width: 1px 1px 0 1px;
    background: #a1b0b9;
    padding: 10px 5px 5px 5px;
    white-space: nowrap;
}
.booking-wagon{
	display: inline-block;
    color: #fff;
    height: 45px;
	width: 80px;
    box-sizing: border-box;
    margin: 0 10x 10px 0;
	position:relative;
    vertical-align: top;
    border: 1px solid transparent;
    background: url(/railway-ticket-office/icons/wagon.png) no-repeat center;
}
.booking-coach-container{
	border: .6rem solid #2c6a8c;
    border-radius: 1.5rem;
}
.booking-coach-berth{
	width:800px;
	height:150px;
}
.booking-coach-compartment{
	box-sizing: border-box;
	width:400px;
	height:400px;
}
.booking-coach-deluxe{
	box-sizing: border-box;
	width:400px;
	height:300px;
}
.booking-button{
	position: relative;
	margin: 30px;
	padding: 10px;
	right: -3%;
}
.cabinet-arrow{
	width:50px;
	height:32px;
}
input[name="seat"]:not(:checked), 
input[name="seat"]:checked {
  position: absolute;
  left: -9999%;
}
input[name="seat"] + label {
  position: relative;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  background-color: white;
  margin: 3px 3px 3px 3px;
}
input[name="seat"]:checked + label {
  border: 1px solid white;
  color: white;
  background-color: black;
}
input[name="seat"]:disabled + label {
  border: 1px solid white;
  color: black;
  background-color: gray;
}
.ticket-container{
	box-sizing: border-box;
	margin: 50px 20px 50px 20px;
}
.pay-button{
	position: relative;
	margin: 40px;
	padding: 5px;
	right: -85%;
}
.cabinet-button{
	position: relative;
	margin: 40px;
	padding: 5px;
	right: -4%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content input {
  padding: 12px 20px;
  display: block;
}
.dropdown-content input:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
